.DS_Store
.mypy_cache
.pytest_cache
.idea

# Python
__pycache__
*.ipynb_checkpoints
*.pyc
*.pylintrc
*.ipynb

# Experimental files
*.th
*.pth
*.ckpt-*
events.out.tfevents.*
*.pbtxt
checkpoint
checkpoints
wandb
*.pkl

# Packaging
/dist
/build
*.egg-info

# Latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*-blx.bib
*.brf

*.pdf
/data/*
/expt/**/serialization
/notebooks
/results
*.h5
*.mat

# per-machine project settings
.env
