.DS_Store
.mypy_cache
.pytest_cache
.vscode
.idea

# Python
__pycache__
*.ipynb_checkpoints
*.pyc
*.pylintrc
*.pydocstylerc
*.ipynb

# Experimental files
*.th
*.pth

# Packaging
/dist
/build
*.egg-info

# Latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*-blx.bib
*.brf

*.pdf
/data/*
/expt/**/serialization
/notebooks
/results
